<div class="container mt-5">
    <div class="page-container">
      <section>
        <h1 class="h1_headings">Education</h1>

        <div>
            <div class="my-auto">
                <div class="row resume-section">
                    <div class="col-12">
                        <h2 class="mb-2">Tertiary Education</h2>
                        <div class="subheading mb-3"><h4>PGD Professional Graduate Diploma in IT (March-2019)</h4></div>
                        <ul class="fa-ul mb-3">
                            <li>
                                <i class="fa-li fa fa-check"></i>
                                Web Engineering
                            </li>
                            
                            <li>
                                <i class="fa-li fa fa-check"></i>
                                Advance Database Management System
                            </li>
    
                            <li>
                                <i class="fa-li fa fa-check"></i>
                                Programming Paradigms
                            </li>
    
                            <li>
                                <i class="fa-li fa fa-check"></i>
                                Realising the User Interface (UX/UI) (**Waiting for result)
                            </li>
                        </ul>
    
                        <div class="subheading mb-3"><h4> Diploma in IT (Jan-2016)</h4></div>
                        <ul class="fa-ul mb-3">
                            <li>
                                <i class="fa-li fa fa-check"></i>
                                Professional issues in information systems practice 
                            </li>
                            
                            <li>
                                <i class="fa-li fa fa-check"></i>
                                Software Engineering 
                            </li>
    
                            <li>
                                <i class="fa-li fa fa-check"></i>
                                Database System
                            </li>
    
                            <li>
                                <i class="fa-li fa fa-check"></i>
                                IT Project Management
                            </li>
                        </ul>
    
                        <div class="subheading mb-3"><h4>Certificate in IT (March-2012)</h4></div>
                        <ul class="fa-ul mb-3">
                            <li>
                                <i class="fa-li fa fa-check"></i>
                                Software Development
                            </li>
                            
                            <li>
                                <i class="fa-li fa fa-check"></i>
                                Computer & Network Technology
                            </li>
    
                            <li>
                                <i class="fa-li fa fa-check"></i>
                                Information System
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="row resume-section">
                        <div class="col-12">
                            <h2 class="mb-2">Secondary Education</h2>
                            <ul class="fa-ul mb-3">
                                <li>
                                    <i class="fa-li fa fa-check"></i>
                                    Higher School Certificate 
                                </li>
                                <li>
                                    <i class="fa-li fa fa-check"></i>
                                    School Certificate
                                </li>
                            </ul>

                        </div>
                    </div>
            
                </div>
            </div>   
      
      </section>
    </div>
</div>          