<header>
  <nav id="mainNavbar" class="navbar navbar-dark  navbar-expand-md py-0  container ">
    <span class="my_logo">
        <a href="" class="navbar-brand">Ugesh Roopchand</a>
        <p >Full Stack Developer</p>
    </span>	
    
    <button class="navbar-toggler mobile_nav_button" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navLinks">
      <ul class="navbar-nav" >

        <li class="nav-item">
          <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>

        <li class="nav-item">
          <a routerLink="/skills" class="nav-link" routerLinkActive="active">Skills</a>
        </li>

        <li class="nav-item">
            <a  routerLink="/experiences" routerLinkActive="active" class="nav-link">Experience</a>
        </li>

        <li class="nav-item">
            <a routerLink="/projects" routerLinkActive="active" class="nav-link">Projects</a>
        </li>

        <li class="nav-item">
            <a routerLink="/education" routerLinkActive="active" class="nav-link">Education</a>
        </li>
        
      </ul>
    </div>
  </nav>
</header>
