
  <div class="container mt-5">
    <div class="page-container">
        <section>
            <div class="row align-items text-center  ">
              <div class=" col-12 col-lg-4">
                  <img class="img-fluid img-profile rounded-circle" src="assets/images/ugesh.jpg" alt="">
                  
              </div>
              <div class="col-lg-8 text-center text-lg-left">
                <h1 class="font_1">
                  <span style="font-weight:bold">Hello,</span>
                </h1>
                <h1 class="font_2" >
                  a bit about me:
                </h1>
  
                <div class="subheading mb-2">
                    <p>Robinson Road Curepipe <b>(230) 5804-2949</b></p>
                    <a href="mailto:ugesh.roopchand@hotmail.com">ugesh.roopchand@hotmail.com</a>
                </div>
  
                <div class="social_Networks">
                  <ul class="list-inline list-social-icons mb-3">
                    
                    <li class="list-inline-item">
                      <a href="https://github.com/Ugesh2204" target="_blank">
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                      </span>
                      </a>
                    </li>
  
                   
                    </ul>
                </div>
  
  
                <p> This is my little space on the internet.
                    I am a passionate Web Developer and I enjoy coding.
                    I am obessed with learning new skills and making thing better. 
                    Coding is a way for me to have fun and at the same time to be creative.
                <p>

                <p>
                   I do full Stack developement  from Back-end to Front-end 
                  with a diverse skill-set such as DotNet Core C#, Angular and Microssoft SQL server
                </p>
                  
                 <p>
                    When i am not coding i like to spent my time with my family and hanging out with friends,
                    watching soccer, playing soccer, fishing etc....
                </p>
              </div>
            </div>
          </section>
    </div>
  </div>