<div class="container mt-5">
  <div class="page-container">
      <section>
          <h1 class="h1_headings">Experience</h1>

          <div>
              <div class="my-auto">
          
                <div class="subheading mb-3">Past Experiences</div>

                <div class="row resume-section ">
                  <div class="col-12">
                      <h3 class="mb-0">FullStack  Developer</h3>
                    <div class="subheading mb-3">FreeLance</div>
                    <p>During the past years along side with my Front-End skills i have enhanced my skills as a Full stack Developer and now I am 
                            seeking for New Challenges as Software Developer (DotnetCore/Angular/MSSQL).</p>
                    <div class="row">
                      <div class="col-12 text-left">
                          <span class="my_text_primary">Jan 2018 - Present</span>
                      </div>
                      </div>
                  </div>
                </div>

                <div class="row resume-section ">
                  <div class="col-12">
                      <h3 class="mb-0">Front-End Developer</h3>
                    <div class="subheading mb-3">Incap ltd</div>
                    <p>
                            My duties at this company was to work on  a Home made company base CMS which uses ready made 
                            templates to satisfy all the needs of small entrepreneur in France.
                            My role includes coding from photoshop wireframes into working Responsive Template HTML5,CSS and
                            Javascript and then Integrating those into Content Management Systems.
                            
                            The role includes some clients communication and the customer service team in France in order to
                            keep clients informed about the progress of the website.</p>
                    <div class="row">
                      <div class="col-12 text-left">
                          <span class="my_text_primary">Jan 2011 - Jan 2018</span>
                      </div>
                      </div>
                  </div>
                </div>

                <div class="row resume-section mb-2">
                  <div class="col-12">
                      <h3 class="mb-0">Junior Front-End Developer</h3>
                      <div class="subheading mb-3">Diadies Ltd</div>
                      <p>   As a Junior Front-End my roles were to implement a consistent look
                            and visual theme across the company website by promoting unform fonts, formatting
                            images and layout using HTML/CSS/FLash Animation/Jquery/Javascript/Photoshop
                            </p>
                      <div class="row">
                          <div class="col-12 text-left">
                              <span class="my_text_primary">Jan 2008 - Jan 2010</span>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>   
          </section>
  </div>  
</div>
