<div class="container mt-5">
  <div class="page-container">
      <section>
          <h1 class="h1_headings">Experience</h1>

          <div>
              <div class="my-auto">
          
                <div class="subheading mb-3">Past Experiences</div>

                <div class="row resume-section ">
                  <div class="col-12">
                      <h3 class="mb-0">FullStack Dotnet Developer</h3>
                    <div class="subheading mb-3">FreeLance</div>
                    <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
                    <div class="row">
                      <div class="col-12 text-left">
                          <span class="my_text_primary">Jan 2018 - Present</span>
                      </div>
                      </div>
                  </div>
                </div>

                <div class="row resume-section ">
                  <div class="col-12">
                      <h3 class="mb-0">Front-End Developer</h3>
                    <div class="subheading mb-3">Incap ltd</div>
                    <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
                    <div class="row">
                      <div class="col-12 text-left">
                          <span class="my_text_primary">Jan 2011 - Jan 2018</span>
                      </div>
                      </div>
                  </div>
                </div>

                <div class="row resume-section ">
                  <div class="col-12">
                      <h3 class="mb-0">Front-End Developer</h3>
                      <div class="subheading mb-3">Diadies Ltd</div>
                      <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
                      <div class="row">
                          <div class="col-12 text-left">
                              <span class="my_text_primary">Jan 2011 - Jan 2018</span>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>   
          </section>
  </div>  
</div>
