<div class="container mt-5">
        <div class="page-container">
            <section>
                <h1 class="h1_headings">My Personal Projects</h1>
      
                <div>
                    <div class="my-auto">
                
                    
      
                      <div class="row resume-section ">
                        <div class="col-12">
                            <h4 class="mb-0"><b>Framework :</b> DotNet Core 2.0</h4>
                            <h4 class="mb-1"><b>Project : </b> Gym Appilcation</h4>
                          <div class="subheading mb-3 mb-1"><h5>Project Descriptions</h5></div>
                          <p>  My Goal for this project was to implement functionality like
                                Authentication and Authorization using IDENTITY SERVER.
                                Where a user can Register, login/logout.

                                I also added role Management which allows admin to perform task like Read, create, delete functionality 
                                or Accept/Reject any user request.
            .
                                
                                This project was built using Code first approche Entity framework  where i have split parts into layers such as Business logic layer (BBL),
                                Business Object Layer (BOL),Data Acesss Layer (DAL) and the UI. Each part communicates to each other individually by  an IRepository  pattern
                                </p>
                          <div class="row">
                            <div class="col-12 text-left">
                                <span class="my_text_primary"><a href="https://github.com/Ugesh2204/GymApplication-2.0" target="_blank">
                                    Click here to see project on GitHub</a>
                                </span>
                            </div>
                            </div>
                        </div>
                      </div>
      
                      <div class="row resume-section ">
                        <div class="col-12">
                            <h4 class="mb-0"><b>Framework :</b> DotNet Core 2.2/Angular 7</h4>
                            <h4 class="mb-1"><b>Project in progress : </b> DatingHubdotnet2.2Angular</h4>
                            <div class="subheading mb-3 mb-1"><h5>Project Descriptions</h5></div>
                            <p>The main objective for this project was to implement a Web API on Dotnet Core and consume  
                               the Data via Angular Application.
            
                                The application have functionalities like Authentication and Authorization which is implemented
                                using Json Web Token (JWT).
                                    
                                The user can Register/Login/logout and create their profile. 
                            </p>
                            <div class="row">
                                <div class="col-12 text-left">
                                    <span class="my_text_primary"><a href="https://github.com/Ugesh2204/DatingHubdotnet2.2Angular" target="_blank">
                                        Click here to see project on GitHub</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                      </div>
      
                      <div class="row resume-section ">
                        <div class="col-12">
                            <h3 class="mb-0">Front-End Developer</h3>
                            <div class="subheading mb-3">Diadies Ltd</div>
                            <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
                            <div class="row">
                                <div class="col-12 text-left">
                                    <span class="my_text_primary">Jan 2011 - Jan 2018</span>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>   
                </section>
        </div>  
      </div>
      