<div class="container mt-5">
    <div class="page-container">
        <section>
            <h1 class="h1_headings">Skills</h1>

            <div>
                <div class="my-auto">
            
                    <div class="subheading mb-3">Programming Languages &amp; Tools</div>
                    <ul class="list-inline list-icons">
                        <li class="list-inline-item">
                            <i class="devicons devicons-netmagazine"></i>
                        </li>
                        
                        <li class="list-inline-item">
                            <i class="devicons devicons-angular"></i>
                        </li>
            
                        <li class="list-inline-item">
                            <i class="devicons devicons-database"></i>
                        </li>
            
                        <li class="list-inline-item">
                            <i class="devicons devicons-javascript"></i>
                        </li>

                        <li class="list-inline-item">
                            <i class="devicons devicons-jquery"></i>
                        </li>
            
                        <li class="list-inline-item">
                            <i class="devicons devicons-html5"></i>
                        </li>
            
                        <li class="list-inline-item">
                            <i class="devicons devicons-bootstrap"></i>
                        </li>

                        <li class="list-inline-item">
                            <i class="devicons devicons-css3"></i>
                        </li>
                    
                        <li class="list-inline-item">
                            <i class="devicons devicons-visualstudio"></i>
                        </li>
                        
                        <li class="list-inline-item">
                            <i class="devicons devicons-git"></i>
                        </li>
                        
                    </ul>


                    <div class="subheading mb-3">Skills Descriptions</div>
                        <ul class="fa-ul mb-0">
                            <li>
                                <i class="fa-li fa fa-check"></i>
                                Microsoft back end stack (C#, ASP.NET CORE MVC , SQL Server) 
                            </li>
                            
                            <li>
                                <i class="fa-li fa fa-check"></i>
                                DataBase Design Techniques
                            </li>

                            <li>
                                <i class="fa-li fa fa-check"></i>
                                JavaScript frameworks such as Angular and jQuery/Ajax 
                            </li>

                            <li>
                                <i class="fa-li fa fa-check"></i>
                                JavaScript 
                            </li>

                            <li>
                                <i class="fa-li fa fa-check"></i>
                                HTML5/CSS 
                            </li>

                            <li>
                                <i class="fa-li fa fa-check"></i>
                                Bootstrap 4 
                            </li>

                            <li>
                                <i class="fa-li fa fa-check"></i>
                                Version control tools (Git)
                            </li>
                        </ul>
                    </div>
                </div>   
          
            
            </section>
    </div>
  </div>